.months {
    display: none;
}

#bookHolder {
    display: none;
}

option {
    font-size: 24px;
}

#janReadIt {
    display: none;
}

h1 {
    margin: 20px;
    font-size: large;
}

.input {
    margin: 10px;
}

#monthsContainer {
    width: 500px;

}

#janBookHolder {
    border: none;
}

.bookButtons {
    clear: right;
    margin: 5px;
}